/* screen - pop-up-contact */

.pop-up-contact {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  min-width: 365px;
}

#overlay-pop-up-contact {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.pop-up-contact .pop_up_contact {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 285px;
  justify-content: center;
  min-width: 365px;
}
